
   
/*style sheet*/
html {
    font-size: 14px;
}
body {
    margin: 0;
}
/* header component */
header {
    background-color: white;
    border: none;
    position:fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100vw;
    height: auto;  
}
/* logo from image */ 
.logo {
    height: 6rem;
    width: auto;
}   

/* navigation buttons container */  
.inline-block {
    display: inline-block;
    padding: 1%;
}
/* logo from image */   
/* navigation buttons individual with text */ 
.navBtn{
    color: black;
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
    font-family:'Montserrat', sans-serif;
    margin: 0 2rem;
 }
/* welcome text */ 
h1 { 
    font-family:'Oleo Script', cursive;
    color: white;
     font-size: 4rem;
    font-weight: 600;
}
/* container for about me text, resume button, and headshot */
.AboutMe {
    display:flex;
    width:fit-content;
    align-items: center;
    justify-content: center;
    background-color: #cedcf5;
    padding: 0%;
   
}
.aboutBlock {
    display: inline-block;
}

.imageme{
    max-height: 100vh;
   
  
  
}
/* personal headshot image */

   

/*container for about me text*/
.text {
    flex-basis: 60%;
    padding: 0rem 4rem;
    }

/* about me text */ 
p {
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: left;
}
/* footer with contact info and social media buttons */
.socialMediaButtons {
    display: inline-block;
}
h3 { 
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.right {
    width: 50%;
    }
.left {
    width: 50%;
    }
.column {
    float: left;
    }

h2 {
    font-size: 2.5rem;
    font-family:'Montserrat', sans-serif;
}



.projects-header {
    background-color: #8a9bb9;
  
    width: 100%;
    color:white;

    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

.mywork {
    margin: 2rem 0;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
 
    color: white;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    height: 20rem;
    font-size: 2rem;
    background-color: #cedcf5;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #8a9bb9;

  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 1rem;
    background-color: white;
    display: none;
    overflow: hidden;
    height: auto;
    transition: max-height 0.2s ease-out;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1rem;

    float: right;
    margin-left: 0.5rem;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }